---
import MainLayout from "../layouts/MainLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="mx-auto px-4">
    <div class="py-8 sm:py-12">
      <h1 class="text-3xl sm:text-4xl font-heading text-center mb-6 sm:mb-8">The Wanderer's Journal</h1>
      <p class="text-lg sm:text-xl mb-8 sm:mb-12">
        Hello 👋, I'm Jeff! This blog will serve to document my various RPG
        adventures and musings.
      </p>
    </div>
    <hr />
    <section>
      <h2 class="text-2xl font-bold mb-6">Recent Posts</h2>
      <div class="space-y-8">
        {
          posts.map(post => (
            <article class="border-b border-gray-700 pb-8">
              <div class="flex items-center justify-between group">
                <h3 class="text-xl font-bold">
                  <a
                    href={`${import.meta.env.BASE_URL}/blog/${post.id}`}
                    class="text-orange-500 hover:text-orange-400 flex items-center"
                  >
                    {post.data.title}
                    <span class="ml-2 opacity-0 group-hover:opacity-100 transition-opacity text-sm font-normal">
                      Read More →
                    </span>
                  </a>
                </h3>
              </div>
              <time class="text-gray-400 text-sm">
                {post.data.pubDate.toLocaleDateString()}
              </time>
              <p class="mt-2">{post.data.description}</p>
            </article>
          ))
        }
      </div>
    </section>
  </main>
</MainLayout>
